{% extends 'base.html' %}

{% block content %}
<section>
<h1>NEW PLAYER</h1>
<form action="/users" method="POST">
    <div id="add_player">
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>
    <input type="submit" value="Add Player">
</form>



<h2>Select player:</h2>
<ul>
    {% for user in all_users %}
        <li>
            <a href="/users/{{user.id}}">{{ user.name }}</a>
        </li>           
        {% endfor %}
    </li>
</ul>
</section>
{% endblock %}