{% extends 'base.html' %}

{% block content %}
<h2>Player {{ user.name }}</h2>
<section>
    <h3>My games:</h3>
        <ul>
            {% for game in player_games %}
                <li>
                    {{ game.name }}
                    <form action="/games/{{game.id}}">
                        <input type="submit" value="View game">
                    </form>
                    <form action="/games/{{game.id}}/play">
                        <input type="submit" value="Play game">
                    </form>
                </li>
            {% endfor %}
        </ul>
</section>
<div>
    <form action="/games/new" method="post">
        <input type="submit" value="Create new game">
        <input type="hidden" value="{{user.id}}" name="user_id">
    </form>
</div>
<div>
    <form action="/users/{{user.id}}/delete" method="post">
        <input type="submit" value="Delete Player">
    </form>
</div>

{% endblock %}

